@page "/Play/{size:int=8}"
@addTagHelper *, DemoApp
@{
    int n = Convert.ToInt32(RouteData.Values["size"]);
}
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Welcome Gambler</h1>
        <b>WINNER:</b>
        <lotto digit-count="@n"></lotto>
    </body>
</html>
